$max-bubble-size-large: 410px;
$max-bubble-size-medium: 250px;
$max-bubble-size-small: 210px;
$min-bubble-size-medium: 200px;
$min-bubble-size-small: 150px;
$medium-screen: "1200px";
$small-screen: "500px";
$short-screen: "1000px";

.results {
  // TODO: styling for low-height screens
  width: 100%;
  height: 100%;

  .container {
    width: 85%;
    height: 100%;
    padding-bottom: 15px;
    padding-top: 27vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: padding-top 0.2s;

    @media (max-width: $medium-screen) {
      padding-top: 21vh;
      flex-direction: column;
    }

    @media (max-width: $small-screen),
      (max-height: $short-screen) and (max-width: $medium-screen) {
      padding-top: 16vh;
    }

    .sentiment-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 40%;
      height: 100%;

      @media (max-width: $medium-screen) {
        width: 100%;
        height: fit-content;
        align-items: center;
        margin-bottom: 5rem;
      }

      @media (max-width: $small-screen), (max-height: $short-screen) {
        margin-bottom: 1.5rem;
      }

      #sentiment {
        animation: float 6s ease-in-out infinite;
        width: 25vw;
        min-width: $min-bubble-size-medium;
        max-width: $max-bubble-size-large;
        height: 25vw;
        min-height: $min-bubble-size-medium;
        max-height: $max-bubble-size-large;
        font-size: 1.5vw;
        border: none;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px $gold;
        background: $raisin;
        color: $gold;
        transition: width height 0.2s;

        @media (max-width: $medium-screen) {
          font-size: 1rem;
          max-width: $max-bubble-size-medium;
          max-height: $max-bubble-size-medium;
        }

        @media (max-width: $small-screen) {
          font-size: 0.8rem;
          max-width: $max-bubble-size-small;
          max-height: $max-bubble-size-small;
          min-width: $min-bubble-size-small;
          min-height: $min-bubble-size-small;
        }

        &.calibrating {
          h2 {
            animation: blink 2.5s ease-in-out infinite;
            animation-delay: -0.5s;
          }
        }

        &.neutral {
          color: $gold;
          box-shadow: 0px 0px 15px $gold;
        }

        &.positive {
          color: $green;
          box-shadow: 0px 0px 15px $green;
        }

        &.negative {
          color: $red;
          box-shadow: 0px 0px 15px $red;
        }
      }
    }

    .details-and-tweets-section {
      width: 60%;
      height: 100%;
      order: -1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media (max-width: $medium-screen) {
        width: 100%;
        order: 1;
      }

      h2 {
        color: $white-shadow;
        font-size: 1.4rem;
        margin: 0 0 0.4rem 0;

        @media (max-width: $medium-screen) {
          text-align: center;
          width: 30%;
          margin-bottom: 2rem;
          font-size: 1.2rem;

          &:nth-child(1) {
            width: 100%;
          }

          span {
            display: block;
            font-size: 1.5rem;
            text-align: center;
          }
        }

        @media (max-width: $small-screen),
          (max-height: $short-screen) and (max-width: $medium-screen) {
          font-size: 1rem;
          margin-bottom: 1rem;

          span {
            font-size: 1rem;
          }
        }
      }

      span {
        display: inline-block;
        margin-left: 10px;
        color: $white;
        font-size: 1.8rem;
      }

      #score {
        color: $gold;

        &.calibrating {
          animation: blink 2.5s ease-in-out infinite;
        }

        &.neutral {
          color: $gold;
        }

        &.positive {
          color: $green;
        }

        &.negative {
          color: $red;
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 0 3rem 0;

      @media (max-width: $medium-screen) {
        width: 100%;
        margin: 0 0 1rem 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }

      @media (max-width: $small-screen),
        (max-height: $short-screen) and (max-width: $medium-screen) {
        margin: 0;
      }
    }

    .tweets {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media (max-width: $medium-screen) {
        width: 100%;
      }

      .text-bubble {
        display: flex;
        justify-content: flex-start;
        border: 2px solid $white;
        border-radius: 10px;
        width: 70%;
        padding: 15px;
        min-height: 100px;
        position: relative;

        @media (max-width: $medium-screen) {
          width: 100%;
        }

        @media (max-width: $small-screen) {
          padding: 10px;
        }

        /*** chat bubbel effect ***/
        // TODO: better effect
        &:before {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid $white;
          border-top: 10px solid $white;
          border-bottom: 10px solid transparent;
          left: -21px;
          top: 36px;
        }

        &:after {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 8px solid transparent;
          border-right: 8px solid $raisin;
          border-top: 8px solid $raisin;
          border-bottom: 8px solid transparent;
          left: -16px;
          top: 38px;
        }
        /*** end of chat bubbel effect ***/

        p {
          color: $white;
          margin: 0;
          width: 100%;
          word-break: break-word;
          white-space: normal;

          @media (max-width: $small-screen) {
            font-size: 0.8rem;
          }

          // scrollbar styling
          &::-webkit-scrollbar {
            width: 8px;
            background: $raisin;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: rgba($color: $gray, $alpha: 0.1);
          }
        }
      }
    }
  }
}
