.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: $raisin;

  .ease-out {
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);

    #tsparticles {
      height: 100%;
    }
  }
}
