$short-screen-header: "750px";

.header {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 10vh;
  z-index: 5;
  padding: 3rem 0;
  transition: padding 0.2s;

  @media (max-width: $small-screen), (max-height: $short-screen-header) {
    padding: 1.5rem 0 2.5rem 0;
  }

  .flex {
    width: 85%;
    margin: 0 auto;
    height: 5vh;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;

      &:focus {
        -webkit-tap-highlight-color: transparent;
        // TODO: add effect
      }

      h2 {
        font-size: 2rem;
        font-weight: 400;
        color: $white;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff,
          0 0 $light-xxl #fff;
        transition: font-size 0.2s;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
        line-height: 0.8em;

        .active {
          animation: tubelight-active 5s infinite;
        }

        .lazy {
          animation: tubelight-lazy 4s infinite;
        }

        @include media("<=400px") {
          font-size: 1.5rem;
        }
      }
    }
  }

  // .nav-toggle {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: relative;
  //   cursor: pointer;

  //   .nav-menu {
  //     width: 25px;
  //     span {
  //       display: block;

  //       height: 3px;
  //       width: 100%;
  //       background: $white;
  //       margin-bottom: 0.3rem;
  //     }
  //   }
  // }
}
