.header {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 10vh;
  z-index: 5;
  padding: 3rem 6rem;

  @include media("<=525px") {
    padding: 3rem 3rem;
  }

  .flex {
    height: 5vh;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        font-size: 2rem;
        font-weight: 400;
        text-decoration: none;
        color: $gold;
        text-shadow: 10px 10px $gold-shadow;
        transition: font-size 0.2s;

        @include media("<=400px") {
          font-size: 1.5rem;
        }

        &:focus {
          -webkit-tap-highlight-color: transparent;
          // TODO: add effect
        }
      }
    }

    .nav-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      .nav-menu {
        width: 25px;
        span {
          display: block;

          height: 3px;
          width: 100%;
          background: $gold;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}
