$black: #000000;
$raisin: #1b1b1e;
$gold: #e28413;
$gold-shadow: #634b2e;
$white: #ffffff;
$gray: #f1f3f5;
$green: #86e7b8;
$red: #de3c4b;

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
