$black: #000000;
$raisin: #1b1b1e;
$gold: #e28413;
$gold-shadow: #634b2e;
$white: #ffffff;
$white-shadow: #676767;
$gray: #f1f3f5;
$green: #86e7b8;
$green-shadow: #55695f;
$red: #de3c4b;
$red-shadow: #5f373b;

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-16px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
